#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px 0;
    color: #007bff;
  }

body {
    background-color: #f8fbff;
    font-family: 'Segoe UI', sans-serif;
  }
  
  .product-card {
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    background: white;
    transition: transform 0.2s;
  }
  
  .product-card:hover {
    transform: translateY(-5px);
  }
  
  .product-image {
    height: 180px;
    object-fit: cover;
    width: 100%;
  }
  
  .product-title {
    font-weight: bold;
    font-size: 1.2rem;
    color: #0056b3;
  }
  
  .btn-access {
    background-color: #007bff;
    color: white;
  }
  
  .product-card .text-muted.mb-2 {
    min-height: 24px;
  }

  .product-card .product-image {
    min-height: 300px;
    max-height: 300px;
  }

  .badge-custom {
    background-color: #2196F3;
    color: white;
    font-size: 11px;
    padding: 3px 8px;
    border-radius: 12px;
    position: absolute;
    top: 8px;
    left: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    z-index: 10;
  }
  
  .product-card.locked img {
    filter: grayscale(100%);
    opacity: 0.95;
    transition: filter 0.3s ease, transform 0.3s ease;
    z-index:1;
  }
  
  .product-card.locked:hover img {
    filter: grayscale(0%);
    transform: scale(1.02);
    z-index:1;
  }  
  
  .btn-purchase {
    background-color: #28a745 !important;
    color: white !important;
    border: none !important;
  }
  
  .btn-purchase:hover {
    background-color: #218838 !important;
  }
  
  .position-relative {
    position: relative;
  }

  .preco-produto {
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
  }
  
  .preco-promocional {
    color: #ff5722; /* laranja forte */
    font-weight: bold;
  }
  
  